/.ansible
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.local
/.profile
/.ssh
/.sudo_as_admin_successful
/.vscode-server
/.wget-hsts
/111
/cloudflared-linux-amd64.deb
/daily.sh
/docker-script-install.log
/install_docker_nproxyman.sh
/lib
/snap